/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: 'Open Sans', sans-serif;
  color:#808080;

}

html, body {
	height: 100%;
}

h4{
	
	margin-bottom:5%;
}

.citation {
	padding: 1% 15%;
	
}

.citation h2{
	font-size: 1.3rem;
	text-align:left;
}

.citation h3{
	font-size: 1rem;
	margin: 1% 0;
}

.citation a{
	color: #505050;
}

.citation a:hover, a:focus, a:active{
    color: black;
}

/*--------------------------------------------------Styling for content*/

.content {
	min-height: 100%;
  /* equal to footer height */
	margin-bottom: -10px;
}

/*--------------------------------------------------centering content button*/

.grid-col-button {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 15px 0% 15px 0%;
	font-size: .8rem;
}





/*--------------------------------------------------Styling for footer*/


.page-end .content:after {
/* .push must be the same height as footer */

	
}




footer,footer a{
	font-size: 10px;
	/* padding: 0.5% 0 0.5% 0 ; */
    text-align: center;
}

footer a{
	margin: 0px;
}

footer{	
	background-color:#808080;

}


.grid-col-footer {
	text-align: center;
	width: 10%;
	height: auto;
	font-size: .8rem; 
}
/*--------------------------------------------------Styling for images*/

img {
	height: auto;
	max-width: 100%;
}

/* Styling for headers */

header h1{
	display:block;
	font-size: 2.5vw;
	text-align: center;
	text-decoration: none;
}

header a:hover, a:focus, a:active{
	text-decoration: none;
}

p{
	margin:0;
	padding:0;
	
}






/*----------------------------------------------------nav style*/

/*navigation icons */
.nav-main-item img{
	opacity: .6;
	max-width: 16px;
	vertical-align: middle;
		
}

#nav-toggle.hidden, #nav-items.hidden {
	visibility: hidden;
	display: none;
}

a.nav-main-item img:hover {
   
   -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    display: inline-block;
	max-width: 20px;
	vertical-align: middle;
	
	
}

a.nav-main-item img:focus {
   
   -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    display: inline-block;
	max-width: 20px;
	vertical-align: middle;
}


/*navigation top and bottom line*/
.grid-row{
	border-top:1px solid #808080;
	border-bottom:1px solid #808080;
}


.nav-main{
	text-align:center;
	background-color:rgba(0, 0, 0, 0.5);
}


/*------------------------------------------------- all nav grids will have this*/
[class^='grid-col']{
	display:inline-block;
}

.grid-col-nav {
	text-align: center;
	width: 7rem;
	height: auto;
	/* margin: 15px 0% 15px 0%; */
	font-size: .8rem;
}

.grid-col-nav-icon {
	text-align: center;
	width: 50px;
	height: auto;
	margin-top:0px;
	margin-bottom:0px;
}



.confirm-recipt {
	width: 50%;
	border: 1px solid #808080;
	/* float: right; */
	display:inline-block;
	padding: 1.5% 3%;
	margin-bottom:10%;
}



/*-----------------------------------------------cart css */

.cart_total {
	width: 30%;
	border: 1px solid #808080;
	/* float: right; */
	display:inline-block;
	padding: 1.5% 3%;
	margin-bottom:10%;
}

.cart_total h3 {
	text-align: left;
	margin: 0 0 10% 0;
}



.hint{
	
	width: 100%;
	
}

.confirm-recipt p {
	text-align: left;
	font-size: 0.95rem;
	margin: 5% 0;
	padding: 0;
}

.cart_total p {
	text-align: right;
	font-size: 0.95rem;
	margin: 5% 0;
	padding: 0;
}

.cart_total button {
	margin: 15% 0 5% 0;
}

.cart_total .hint {
	margin: 10px 0 10px 0;
	color: #505050;
	font-size: .75rem;
	text-align: center;
}



@media(max-width: 746px ){
	
	
	h3.minititle{
	margin:0;
	}
	.cart_total .hint {
	margin: 0 0 5% 0; 
	}


	.grid-col-nav{
		width:100%;
		margin-left:0px;
		margin-right: 0px;
	}
	
	
	.grid-col-nav-icon{
		text-align: center;
		width: 50px;
		height: auto;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.grid-col-footer {
		width: 20%;
		height: auto; 
		text-align: center;
	}
}





/*--------------------------------------- Promo & updates banner */
.banner-item {
	width:100%; 
    height:auto; 
	text-align:center;
	position:relative;
	margin-bottom:2%;
	
	
}

.product-col-banner-img{
	display: inline-block;
	vertical-align:middle;
	margin:20px;

	
}

 .promotext-box{
 
	/* http://www.webdevbydoing.com/how-to-make-responsive-borders/ */

	width: 23%;
	height: 422px;
	
	display:inline-block;

	
	background-color:rgba(128, 128, 128, 0.5);
	vertical-align:middle;

}



.promo-title{
	width: 100%;
	display:inline-block;
	font-size: 1vw;
	/* http://stackoverflow.com/questions/5703552/css-center-text-horizontal-and-vertical-inside-a-div-block */
	text-align: center;
	vertical-align: middle;
	line-height: 380px;   
	
	
}


h2.promo-title{
	color:black;
	font-size: 2.5vw;
	margin:0;
}





@media(max-width: 1625px){

	.promo-title{
		width: 100%;
		font-size: 1.3vw;
		display:inline-block;   
		
		text-align: center;
		vertical-align: middle;
		line-height: 270px; 
	}
	
	
 	.promotext-box{
		width: 70%;
		height: 300px;
		
		position: absolute;
		top: 50%;	/* 50% pushes the top side image to half of the page   */
		left: 50%;	/* 50% pushes the left side image to half of the page   */
		margin-left: -35%; /* the px needs to be the negative half of the full width set by user  */
		margin-top: -150px;  /* the px needs to be the negative half of the full height set by user  */
		box-shadow:0 0 0 5px white;
		background-color:rgba(128, 128, 128, 0.5);
		
	} 
	
	
	
	
	h2.promo-title{
	color:white;

	}
	

}





/* ------------------------------------------------Styling for button */

.action-button{
    background-color: white;	
	border-radius: 2px;
	border:2px solid #808080;
    color: #808080;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
	width: 20%;
	
	
	text-align:center;
}

.action-button:hover {
	border:2px solid white;
	background-color: #808080;
	color:white;
}

.action-button:focus{
	border:2px solid white;
	background-color: #808080;
	color:white;
}
/*--------------------------------------------add to cart button*/
.action-button-add-cart{
    background-color: white;	
	border-radius: 2px;
	border:2px solid #808080;
    color: #808080;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
	width: 80%;
	display: inline-block;
	margin:0 0 20px 0;
	text-align:center;
}

.action-button-add-cart:hover {
	border:2px solid white;
	background-color: #808080;
	color:white;
}

.action-button-add-cart:focus{
	border:2px solid white;
	background-color: #808080;
	color:white;
}

.button-spacer2{
	margin-bottom: 10%;
}

.button-spacer{
	margin-bottom: 20px;
}

.spacer-other-products{
	margin-top:5%;
}

a.signup-link{
	display:inline-block;
    color: #808080;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	font-size: 0.8rem;
	
}

a.signup-link:hover, a.signup-link:focus, a.signup-link:active{
    color: black;
	text-decoration: none;
	 font-weight: bold;
} 






/* size button */

.size-button{
    background-color: white;	
	border-radius: 2px;
	border:2px solid #808080;
    color: #808080;
    padding: .5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
	padding:5px 10px 5px 10px;
	margin: 0px 5px 15px 5px;
}

.size-button:hover {
	border:2px solid white;
	background-color: #808080;
	color:white;
}

.size-button:focus{
	border:2px solid white;
	background-color: #808080;
	color:white;
}


@media(max-width: 1220px){
	
	.promo-title{
		width: 100%;
		
		display:inline-block;   
		font-size: 1.5vw;
		text-align: center;
		vertical-align: middle;
		line-height: 400px; 
	
	}
	
	
	.promotext-box{
		width: 60%;
		height: 400px;

		position: absolute;
		top: 50%;	/* 50% pushes the top side image to half of the page   */
		left: 50%;	/* 50% pushes the left side image to half of the page   */
		margin-left: -30%; /* the px needs to be the negative half of the full width set by user  */
		margin-top: -200px;  /* the px needs to be the negative half of the full height set by user  */
		box-shadow:0 0 0 5px white;
		background-color:rgba(128, 128, 128, 0.5);
		
	}
	
	h2.promo-title{
		color:white;
	}
	
	
}

@media(max-width: 800px){

	.promo-title{
		width: 100%;
		font-size: 2.5vw;
		display:inline-block;   
		
		text-align: center;
		vertical-align: middle;
		line-height: 170px; 
	}
	
	.promotext-box{
		width: 70%;
		height: 190px;
		
		position: absolute;
		top: 50%;	/* 50% pushes the top side image to half of the page   */
		left: 50%;	/* 50% pushes the left side image to half of the page   */
		margin-left: -35%; /* the px needs to be the negative half of the full width set by user  */
		margin-top: -100px;  /* the px needs to be the negative half of the full height set by user  */
		box-shadow:0 0 0 5px white;
		background-color:rgba(128, 128, 128, 0.5);
		
	}
	
	h2.promo-title{
		color:white;

	}
	
	h2.subtitle{
		color:#A9A9A9;
		text-align:center;
		font-size: 2.5vw;
    } 


}



.product-col {
	float: left;
	width: 33%;
	display: inline-block;
	padding: 0% 5% 5% 5%;

} 

.product-col-cart {
	float: left;
	width: 33%;
	display: inline-block;
	
	padding: 0;
	text-align:left;

} 


.product-row {
	padding: 1% 15%;
	
}

.product-row h3{
	text-align:center;
}



.product-row form {
	width: 55%;
    margin: 0 auto;
}

.login_page {
	text-align: center;
}




.product-col p{
	padding: 0 15%;
	font-size: 1vw;
	text-align:center;
	
}


.product_name {
	font-weight: bold;
	display:block;
	width:100%;
	height:5%;
	text-align:left;
	margin-bottom:5%;
	margin-top:5%;
	
}

/*------------------------------------------cart styling*/

.action-button-cart{
    background-color: white;	
	border-radius: 2px;
	border:2px solid #808080;
    color: #808080;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
	width: 100%;
	margin: 20px 0 20px 0;
	text-align:center;
}

.action-button-cart:hover {
	border:2px solid white;
	background-color: #808080;
	color:white;
}

.action-button-cart:focus{
	border:2px solid white;
	background-color: #808080;
	color:white;
}


.confirm-col {
	width: 50%;
	float: left;
	display: inline-block;
	padding: 0% 5% 5% 5%;
}
	
	
.product-info{
	/* display:inline-block;
	/*border: 1px solid black;
	padding: 0 2%;
	width: 50%; */
	
	float: left;
	
	border: 1px solid #808080;
	width: 50%;
	display: inline-block;
	margin-top: 5%;
	padding: 0% 5% 5% 5%;
	text-align:center;
}



.product-img {
	/*border: 1px solid black;*/
	/* display:inline-block;
	width: 50%;
		margin-bottom:5%; */
	margin-top:5%;
	float: left;
	width: 50%;
	display: inline-block;
	
	
}

.product-img img{
	width:75%;
}

.product-discription {
	text-align:left;
	width: 100%;
	
	/*border: 1px solid black;*/
}

@media(max-width: 746px ){

	.product-discription {
		text-align:left;
		width: 70%;
		display:inline-block;
		
		/*border: 1px solid black;*/
	}

	.action-button-add-cart{
		background-color: white;	
		border-radius: 2px;
		border:2px solid #808080;
		color: #808080;
		padding: 1% 2%;
		text-align: center;
		text-decoration: none;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		cursor: pointer;
		width: 50%;
		
		margin:0 0 20px 0;
		text-align:center;
	}

	.size-button{		
		margin: 10% 5px 20px 5px;
	}
	.action-button-cart{
		
		width: 70%;
	
	}
	
	.confirm-recipt {
		width: 90%;
		border: 1px solid #808080;
		/* float: right; */
		display:inline-block;
		padding: 1.5% 3%;
	}

	.cart_total {
		width: 80%;
		border: 1px solid #808080;
		/* float: right; */
		display:inline-block;
		padding: 1.5% 3%;
	}

	.product-col {
		width: 50%;
		padding-bottom:8%;
	}

	.product-col-cart {
		width: 50%;
		margin-bottom:5%;
	}
	



	header h1{
		font-size: 5vw;
	}

	h2{
		font-size: 4vw;
	}
	
	h2.subtitle{
	
		font-size: 4vw;
	}
	
	.product-page {
		/*padding: 2% 10% 5% 10%;*/
	}

	.product-img {
		width:100%;
		margin-bottom:5%;
	
	}
	

	.product-info {
		width: 100%;
		margin-top:0;
	}

	.action-button {
		width: 25%;
	}

	.product-info h2 {
		font-size: 1rem;
	}

	

	

	.product-row {
		padding: 1% 10%;
		
	}

	.product-row p {
		
	}
	
	
	
	.product-col p{
		padding: 0;
		margin-top: 5%;
		font-size: 2.5vw;
	
	}
	
	a.pic-link:hover, a.pic-link:focus{
		box-shadow:0 0 0 2px black;

	}
	
	.product_name {
		font-weight: bold;
		display:block;
		width:100%;
		height:15%;
	
	}

	.product-row form {
		width: 100%;
	    margin: 0 auto;
	}

	

	p,label {
		font-size: .8rem;
	}

	footer,footer a{
		font-size: .7rem;
	}
}

/*-------------------------------------------------------------- Form styling */
label {
	display:block;
}

a.hint {
	font-style: italic;
	font-size: .7rem;
	color: #808080;

	
}


/* style guide code */
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}







a.pic-link{
	height:auto;
}

a.pic-link:hover, a.pic-link:focus{
box-shadow:0 0 0 5px black;
margin:0;
}








.related {
	width: 15%;
}

.product-row:after {
	content:"";
	display:block;
	clear:both;
}




ul{
	width:50%;
}

li{
	margin:2%;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

.hamburger_menu{
	width: 100%;
    color: white;
	text-align:center;
	border: none;
    background-color: 	#808080;
}

a.button-link {
  
    background-color: 	#808080;	 /* light gray */
    border:none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

a.button-link:hover, a.button-link:focus {
  background-color: #c0c0c0;
  color: black;
  text-decoration:none;
}


.nav-link{
	display:inline-block;
	height:50px;
	width:auto;
	
	text-align: center;
	vertical-align: middle;
	line-height: 50px; 
}

a.nav-link{
	display:inline-block;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

a.nav-link:hover, a.nav-link:focus, a.nav-link:active{
    color: black;
	text-decoration: none;
	 font-weight: bold;
} 


/*------------------------------------------ Styling for link */

a{
	display:inline-block;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	
}

a:hover, a:focus, a:active{
    color: black;
	
	font-weight: bold;

}

/*----------------------------------------home link*/

.home-link{
	padding:10px 20px 10px 20px;
}

a.home-link{
	display:inline-block;
    color: #808080;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

a.home-link:hover, a.home-link:focus, a.home-link:active{
    color: black;
	text-decoration: none;
	box-shadow:0 0 0 3px black;
	
}








/* -------------------------- product page*/

.product-page{
	/*padding: 2% 15% 5% 15%;*/
	/*border: 1px solid red;*/
	padding: 1% 10%;
	
}

.product-page:after {
	content:"";
	display:block;
	clear:both;
}

.product_size {
	font-weight: bold;
	font-size: 1.25rem;
}

.product_price {
	font-weight: bold;
	font-size: 1.25rem;
}




.img-width{
	
}






/* .product-info h2 {
	margin: 0;
	font-size: 1.1rem;
} */



.product-info h4 {
	font-size: 0.85rem;
	margin: 5% 0 1% 0;
}


a.edit-link{
	display:inline-block;
    color: #808080;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	font-size: 0.8rem;
	margin-bottom: 10%;
	margin-top: 10%;
	
}

a.edit-link:hover, a.edit-link:focus, a.edit-link:active{
    color: black;
	text-decoration: none;
	 font-weight: bold;
} 

.cart {
	text-align: right;
}

.cart_info h3 {
	margin: 0;
	text-align: left;
	font-size: 0.95rem;
	padding: 0 5%;
}

.cart_info h4 {
	font-size: 0.9rem;
	margin: 0 0 5% 0;
	padding: 0 5%;
}

.cart_info p {
	text-align: left;
	font-size: 0.8rem;
	padding: 1% 5%;
	margin: 0;
}

.cart_info a {
	margin: 5.5% 0;
}

.cart_container{
	/*border: 1px solid black;*/
	display:inline-block;
	text-align:center;
	width: 100%;
}

.cart_img {
	width: 100%;
	/*border: 1px solid black;*/
}


.cart_info{
	width: 25%;
	text-align: left;
	
	/*border: 1px solid black;*/
}

/* .cart_info::after {
    clear: both;
}
 */


/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for form field */
input {
	border:none;
	border-bottom: 2px solid #808080;
	border-radius: 2px;
	display: block;
    padding: 1%;
    
    width: 100%;
	transition: all 0.0s ease-out;
}

.input-spacing{
	margin: 0.5% 0 10% 0;
}

label{
	transition: all 0.0s ease-out;
}



h2.subtitle{
	color:#A9A9A9;
	/*margin: 10px;*/
	text-align:center;
	
}

h3.minititle{
	color:black;
/* 	display:block; */
	/*margin: 10px;*/
	
}




/* Styling for paragraph */
.paragraph{
	color:#808080;
	display: inline-block;
	width:50%;
	text-align: left;
}

/* Styling for bullet lists */

.bulletlist{
	color:#808080;
	list-style-type: circle;
}


/* Styling for ordered lists */

.numberlist{
	color:#808080;
	list-style-type: upper-roman;
}



/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for nav bar */

a.button-link {
	width: 100%;
    background-color: 	#808080;	 /* light gray */
    border:none;
    color: white;
    padding: .75rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

a.button-link:hover a.button-link:focus {
  background-color: #c0c0c0;
  color: black;
  text-decoration:none;
}

/*[class^='grid-col']{
	float: left;
}*/





.grid-col {
	text-align: center;
	width: 15%;
}

.product-grid-col {
	float: left;
	text-align: center;
}





/* Styling for product listing */


*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


[class^='grid-col-1of3']{
	float: left;
}

.grid-col-1of3{
	width: 25%;
	margin: 50px;
	height: 200px;
}

/*  700px/16= 43.75em  16px is default font size*/
@media(max-width: 50em){
	.grid-col-1of3{
		width:100%;
		margin: 50px 0px 50px 0px;
	}
}

.grid-row:after {
	content:"";
	display:block;
	clear:both;
}

/*  CODE IS ONLY HERE TO SEE THE PRODUCT GRID STRUCTURE*/

.container .block {

}
.container .block:nth-of-type(even) {
  background-color: black;
}
.container .block:nth-of-type(odd) {
  background-color: #808080;
}


/* Styling for website grid structure */
* {
    box-sizing: border-box;
}

.headerNav{
	width: 100%;
	 height: 200px;
}

.grid-col-1{
	width: 100%;
	float: left;
	height: 500px;
}

.grid-col-2{
	width: 25%;
	float: left;
	height: 200px;
	margin: 50px
}

.grid-col-3{
	width: 25%;
	float: left;
	height: 200px;
	margin: 50px
}
.grid-col-4{
	width: 25%;
	float: left;
	height: 200px;
	margin: 50px
}


/* Styling for color */

